* {
    margin: 0;
    padding: 0;
}




body {
    background-image: url(img/back-ground2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
.divlogo {
    width: 19%;
    height: 12%;
    margin: 0;
    padding: 0;
}
.logoqueen {
    width: 6rem;
    margin: 0;
    padding-left: 0;
}
.divlogonavbar{
    padding: 0;
    margin: 0;
}
.zonanav {
    background-color: rgba(253, 254, 255, 0.829);
    color: white;
}
.controlesdenavegacion {
    border: 2px solid rgb(209, 187, 187);
    font-size: 1.2rem;
}
/*transition para el navbar*/
.controlesdenavegacion:hover {
    transition: 1s;
    background-color: rgb(209, 187, 187);
    color: black;
}
#ulnavbar {
    color: white;
}
#anavbar{
    padding: 0 3rem 0 3rem;
}

.sectionflecha {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 5rem;
}


.flechafijada {
    width: 100%;
    margin-left: auto;
    display: block;
    position: sticky;
}






.divcarrusel {
    background-color: black;
}


.historia {
    font-size: 1.68rem;
    font-style: italic;
    color: aliceblue;
    background-color: rgb(53, 48, 48);
    margin: 5% 0 10% 0;
}
#populares{
    margin-top: 13%;
    margin-bottom: 3%;
}
.secpopulares{
    color: brown;
    overflow-wrap: normal;
}
.youtubetittles {
    background-color: #6c757d;
    font-size: 1.5rem;
    border: 0.2rem black;
    border-style: dotted dashed;
    
} 
/* empieza grid de bootstrap*/







/*termina el area con grid*/


#playlist {
    margin: 3% 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;

}
.divplaylist{
    width: 85%;

}


/*tuve que cambiar el width de las playlist de spotify en el html*/


#canciones {
    width: 100%;
    background-color: #6c757dbf;
margin-top: 13%;
}

.masterlistofsongs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navcanciones {
    color: white;
    text-decoration: none;
}

.listofsongs {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.845);
    border: 1% black;
    border-style: solid;
    text-decoration: none;
}

.licanciones {
    margin: 0.5rem 0 0.5rem 0;
}

.listofsongs:hover {
    transition: 1s;
    background-color: rgb(0, 0, 0);
    color: white;
}


#nosotros {

    width: 100%;
    background-color: rgb(81, 81, 81);
    margin: 30% 0 13% 0;

}

.defansparafans {
    font-size: 3rem;
    color: rgb(129, 194, 245);
    background-color: rgba(143, 143, 227, 0.445);

    display: flex;
    justify-content: center;
}

.redsocialnombre {
    color: azure;

}

.redsocial {
    width: 50%;
}

.sectionfooter {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-around;
}

.liredsocial {
    width: 30%;
    height: 10%;
}

.navredsocial {
    display: flex;
    justify-content: center;
}

.ulredsocial {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}