* {
    margin: 0;
    padding: 0;
}




body {
    background-image: url(img/back-ground2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
.divlogo {
    width: 19%;
    height: 12%;
    margin: 0;
    padding: 0;
}
.logoqueen {
    width: 6rem;
    margin: 0;
    padding-left: 0;
}
.divlogonavbar{
    padding: 0;
    margin: 0;
}
.zonanav {
    background-color: rgba(253, 254, 255, 0.829);
    color: white;
}
.controlesdenavegacion {
    border: 2px solid rgb(209, 187, 187);
    font-size: 1.2rem;
}
/*transition para el navbar*/
.controlesdenavegacion:hover {
    transition: 1s;
    background-color: rgb(209, 187, 187);
    color: black;
}
#ulnavbar {
    color: white;
}
#anavbar{
    padding: 0 3rem 0 3rem;
}









.divcarrusel {
    background-color: black;
}


.historia {
    font-size: 2em;
    font-style: italic;
    color: aliceblue;
    background-color: rgb(53, 48, 48);
    margin: 5% 0 5% 0;
}

#historia {
    display: flex;
    justify-self: center;
}

/* empieza grid*/
.popularesgrid {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 98%);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3%;
}

.divyoutubetittles {
    width: 100%;
    height: 13%;
    font-size: 1.5em;
    background-color: beige;

}

.youtubetittles {
    color: brown;
}

/*termina el area con grid*/


.sectionflecha {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 6%;
}


.flechafijada {
    width: 100%;
    margin-left: auto;
    display: block;
    position: sticky;
}

#playlist {
    margin: 30% 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

}


/*tuve que cambiar el width de las playlist de spotify en el html*/


#canciones {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin: 8% 0 6% 0;

}

.masterlistofsongs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    column-count: 2;
}

.navcanciones {
    color: white;
    text-decoration: none;
}

.liespecial {
    margin-top: 2%;
    border-top: dashed;
}

.listofsongs {
    font-size: 150%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.845);
    border: 1% black;
    border-style: solid;
    text-decoration: none;
}

.licanciones {
    margin: 3% 0 3% 0;
}




#nosotros {

    width: 100%;
    background-color: rgb(81, 81, 81);
    margin: 30% 0 13% 0;

}

.defansparafans {
    font-size: 3em;
    color: rgb(129, 194, 245);
    background-color: rgba(143, 143, 227, 0.445);

    display: flex;
    justify-content: center;
}

.redsocialnombre {
    color: azure;

}

.redsocial {
    width: 50%;
}

.sectionfooter {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-around;
}

.liredsocial {
    width: 30%;
    height: 10%;
}

.navredsocial {
    display: flex;
    justify-content: center;
}

.ulredsocial {

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
}